# Ignore Git history and configuration
.git
.gitignore

# Ignore VS Code settings
.vscode/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore environment files - IMPORTANT FOR SECURITY
.env

# Ignore local Python virtual environment
.venv/

# Ignore development tools
sqlite3.exe

# Ignore AWS-specific configuration
task-definition.json