# Ignore the local environment folder
.venv/

# Ignore the local secrets file
.env

# Ignore the local database file
erp_database.db

# Ignore development tools
sqlite3.exe

# Ignore AWS-specific configuration
task-definition.json